.text {
  margin: 0;
  font-family: var(--font_default, inherit);
  color: var(--color_text_default, #333);
}

.text-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.text-subheading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.text-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.text-caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.text-bold {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

